# ── Aleo network ──────────────────────────────────────────────────────────────
# Values: testnet | mainnet
VITE_ALEO_NETWORK=testnet
VITE_ALEO_RPC_URL=https://api.explorer.aleo.org/v1/testnet

# ── Explorer ──────────────────────────────────────────────────────────────────
VITE_EXPLORER_TX_URL=https://explorer.aleo.org/transaction/

# ── Transaction fees (in microcredits) ────────────────────────────────────────
VITE_FEE=1000000
